*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    /* border: 1px black solid; */
  }
  body{ font-family: 'Roboto', sans-serif; }
  
.container{ 
    max-width: 900px; 
    margin: 0 auto;
  }
  nav{
      padding: 20px 0px;
      background-color: #4572E8;
  }
  nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
  }
  .pesquisa{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  div input{
    width: 700px;
    border-color: #4572E8;
    padding-left: 15px;
  }
  div button{
    color: #fff;
    background-color: #4572E8;
    border: transparent;
    width: 166px;
    height: 60px;
    font-weight: 400;
  }
  img{
    max-width: 100%;
  }
  h1{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
  }
  p{
    font-size: 18px;
    line-height: 34px;
    font-weight: 300;
  }
  .p-2{
    text-align: justify;
    font-weight: 300;
  }
  .caixa-outras-noticias{
    margin-bottom: 50px;
  }
  .caixa-outras-noticias ul{
    display: flex;
    justify-content: space-between;

  }
  .caixa-outras-noticias ul li{
    list-style: none;
    height: auto;
    margin: 0 20px;
  }
  ul li img{
    list-style: none;
  }
  h2{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }
  li .p-3{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
  }
  a{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #4572E8;
    text-decoration: none;
    margin-left: 5px;
  }
  .p4 a{
    text-decoration: none;
  }
  .m-b{
    padding-top: 24px;
    margin-bottom: 24px;
  }
  article{
    padding-bottom: 32px
  }
  footer{
      padding: 20px 0px;
      background-color: #4572E8;
  }