* {
    color: rgba(0, 0, 0, 0.24);
  }
body {
    background-color: lightblue;
    }
h1 {
    color: navy;
    margin-left: 20px;
}
/*Irá selecionar todos os elementos <h2>;*/
h2 {
    color: blue;
  }
h3{
    background-color: #3232D4;
    color: black;
    opacity: 0.5;
    }   
.fruta {
    color: green;
  }
 #listaDeFrutas {
    background-color: violet;
  }
input[type] {
    background-color: gray;
  }
a[href$=".com.br"] {
    color: red;
    }      
input[type='number'] {
    background-color: blue;
    }