@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    }
small{
    /* NOSSO FOCO É TRANSFORMAR VIDAS! */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    color: #000000;
}

h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    color: #000000;

}
.title-main{

}

.color-blue{

}
.background-blue{
    background-color: blue;
    color: white;
}
.background-black{
    background-color: black;
    color: white;
}
.text-center{
    text-align: center;
}