
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-family: 'Poppins';
}
.title-main{
    /* Não sei o que colocar aqui */
}
.color-blue{
    color: #3662FF;
}
.background-blue{
    background-color: #3662FF;
    color: white;
}
.background-black{
    background-color: black;
    color: white;
}
.text-center{
    text-align: center;
}